<!DOCTYPE html>
<html style="height: 100%; background-color: #dcddcc;">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}{% endblock %}
    <style>
        body {
            height: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #dcddcc;
        }

        p {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        /* General options for list element */
        .li {
            flex-direction: column;
            border-radius: 5px;
            min-width: 300px;
            margin-bottom: 7px; 
            padding: 2%;
            position: relative;
        }
        /* Fist variation list element */
        .li-0 {
            background-color: #C8E6C9;
        }
        /* Second variation list element */
        .li-1 {
            background-color: #a5dfa7;
        }

        .list-block {
            display: inline-block;
            right: 5%;
            min-width: 50%;
            background-color: #bfd5d6;
            border-radius: 5px;
            padding: 2%;
        }

        .content-block {
            display: inline-block;
            left: 5%;
            background-color: #b8c3cf;
        }

        .header {
            display: flex;
            padding: 5%;
            background-color: #d6daa2;
        }

        .main {
            display: block;
            padding: 5%;
        }

        .footer {
            display: block;
            background-color: #999995;
            padding: 2%;
            box-sizing: border-box;
        }

        .page-button{
            min-width: 15px;
            padding: 4px;
            max-height: 30px;
            margin: 1px;
        }
    </style>
</head>
<body>
    <header class="header">
        <div>
            {% block pageTitleContent %}{% endblock %}

            <div style="">
                {% if data.userName %}
                <h3>Вітаємо вас, {{data.user_name}}!</h3>
                {% else %}
                <h3>Вітаємо вас!</h3>
                <h5>Ви зайшли як незареєстрований учасник. Вашу поточну сесію закриють, при тривалій неактивності.</h5>
                {% endif %}
                <!-- Here in future will be Sing on/Log in -->
            </div>
        </div>
        <!-- this for future change language
        <form action="/change_language" method="POST">
            <select name="country">
                <option value="Test_result">Test element, no effect</option>
            </select>
            <input type="submit" value="Submit">
        </form>
        -->

        {% block navigation %}{% endblock %}
    </header>

    <main class="main">
        {% if includeMyList %}
        <div class="list-block">
            <h2>{% block listTitle %}{% endblock %}</h2>
            <div id="pagination-container" style="display: flex; padding: 2%;">
                <div class="permanent-object">
                    <p style="margin: 2%;">Кількість елементів на сторінку:</p>
                    <select id="page-size-select">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <button id="before-page" class="permanent-object page-button"><<</button>
                <button id="next-page" class="permanent-object page-button">>></button>
            </div>
            <ul id="list-object">
                <!-- here element must be created by scripts -->
            </ul>
        </div>
        {% endif %}
        
        <div class="content-block">
            {% block content %}{% endblock %}
        <div>
    </main>

    <footer class="footer">
        <p>© 2023 Wind's website. Created for educational purposes.</p>
        <p>© 2023 Wind's сайт. Створено для навчальних цілей.</p>
    </footer>

    <script>
        // in future here will be request for change language

        {% if includeMyList %}
        var handlePageButtonClick;
        var totalItems = 0;

        function createPaginationButtons(event=NaN) {
            const selector = document.getElementById('page-size-select');
            var totalPages = Math.ceil(totalItems / selector.value);
            var container = document.getElementById('pagination-container');
            
            // clear all buttons
            var buttons = document.getElementsByClassName('page-button');            
            for (var i = buttons.length - 1; i >= 0; i--) {
                var butt = buttons[i];
                // delete all but the permanent ones 
                if (!butt.classList.contains('permanent-object')) {
                    container.removeChild(butt);
                }
            }

            nextButton = document.getElementById("next-page");
            for (var page = 1; page <= totalPages; page++) {
                var button = document.createElement('button');
                button.textContent = page;
                button.classList.add('page-button');
                button.dataset.page = page;
                button.addEventListener('click', handlePageButtonClick);
                container.insertBefore(button, nextButton);
            }
        }

        document.getElementById('page-size-select').addEventListener('change', createPaginationButtons)
        {% endif %}


    </script>
    {% block scripts %}{% endblock %}
</body>
</html>
