<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}{% endblock %}
    <style>
        /* General options for list element */
        .li {
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            min-width: 300px;
            margin-bottom: 7px; 
            padding: 2%;
        }
        /* Fist variation list element */
        .li-0 {
            background-color: #C8E6C9;
        }
        /* Second variation list element */
        .li-1 {
            background-color: #a5dfa7;
        }

        .list-block {
            display: inline-block;
            right: 5%;
            background-color: #bfd5d6;
            border-radius: 5px;
            padding: 2%;
        }

        .content-block {
            display: inline-block;
            left: 5%;
            background-color: #b8c3cf;
        }

        .header {
            display: flex;
            width 100%;
            padding: 5%;
            background-color: #d6daa2;
        }

        .main {
            display: block;
            width 100%;
            padding: 5%;
            background-color: #dcddcc;
        }

        .footer {
            display: block;
            width: 100%;
            background-color: #999995;
            padding: 2%;
            box-sizing: border-box;
        }
    
    </style>
</head>
<body style="padding: 0; margin: 0;">
    <header class="header">
        <div>
            {% block page_title_content %}{% endblock %}

            <div style="">
                {% if data.user_name %}
                <h3>Вітаємо вас, {{data.user_name}}!</h3>
                {% else %}
                <h3>Вітаємо вас!</h3>
                <h5>Ви зайшли як незареєстрований учасник. Вашу поточну сесію закриють, при тривалій неактивності.</h5>
                {% endif %}
                <!-- Here in future will be Sing on/Log in -->
            </div>
        </div>
        <!-- this for future change language
        <form action="/change_language" method="POST">
            <select name="country">
                <option value="Test_result">Test element, no effect</option>
            </select>
            <input type="submit" value="Submit">
        </form>
        -->

        {% block navigation %}{% endblock %}
    </header>

    <main class="main">
        {% if include_my_list %}
        <div class="list-block">
            <h2>{% block list_title %}{% endblock list_title %}</h2>
            <ul id="list-object">
                <!-- here element must be created by scripts -->
            </ul>
        </div>
        {% endif %}
        
        <div class="content-block">
            {% block content %}{% endblock %}
        <div>
    </main>

    <footer class="footer">
        <p>© 2023 Wind's website. Created for educational purposes.</p>
        <p>© 2023 Wind's сайт. Створено для навчальних цілей.</p>
    </footer>

    <script>
        // in future here will be request for change language
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>
