{% extends 'base.html.j2' %}

{% block title %}Головна сторінка{% endblock %}

{% block page_title_content %}
<h2> Вітаємо вас на головній сторінці! </h2>
{% endblock %}

{% block list_title %}Список існуючих черг:{% endblock list_title %}
{% list_null_massage = 'На зараз, ніяких черг немає.' %}