{% extends 'base.html.j2' %}

{% block title %}Головна сторінка{% endblock %}

{% block styles %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block pageTitleContent %}
<h2> Вітаємо вас на головній сторінці! </h2>
{% endblock %}


<!-- in future here will be blok with show navigation for user --> 
{% block content %}{% endblock %}


{% block listTitle %}Список існуючих черг:{% endblock %}
{% set includeMyList = true %}
{% block scripts %}
<script>
    let pageNum = 1

    
    async function updateQueuesList() {
        let listData;  
        const selector = document.getElementById('page-size-select');

        await $.ajax({
            url: '/queue',
            method: 'GET',
            data: {
               page: pageNum,
               per_page: selector.value, 
            },
            dataType: 'json',
            success: function(response) {
                listData = response.data;
                totalItems = response.queue_len;
            },
            error: function(xhr, status, error) {
                console.log(error);
            }
        })

        if (totalItems == 0) { return }

        const listObj = document.getElementById('list-object');
        listObj.innerHTML = '';

        for (let i = 0; i < listData.length; i++) {
            let listElement = document.createElement('li');
            listElement.classList.add('li');
            listElement.classList.add(i % 2 == 0 ? 'li-0' : 'li-1');
            listElement.style.display = 'block';

            let listElemTitle = document.createElement('h3');
            listElemTitle.textContent = listData[i]['name'];
            listElemTitle.style.display = 'inline-block';
            listElemTitle.addEventListener('click', function () {
                    //toggleDetails(listElement);
                    // write this later
                });

            let listElemDetal = document.createElement('p');
            listElemDetal.style.display = 'block';
            listElemDetal.textContent = listData[i]['description'];

            let listElemLink = document.createElement('a');
            listElemLink.textContent = 'Приєднатися до черги';
            listElemLink.style.display = 'block';
            listElemLink.href = '#'
            listElemLink.dataset.queueId = listData[i]['id'];
            listElemLink.addEventListener('click', function () {
                    //joinQueue(listItem);
                });

            listObj.appendChild(listElement);
            listElement.appendChild(listElemTitle);
            listElement.appendChild(listElemDetal);
            listElement.appendChild(listElemLink);
        }

        createPaginationButtons()
    }

    handlePageButtonClick = function (event) {
        pageNum = event.target.dataset.page;
        updateQueuesList();
    }

    function toggleDetails(listElement) {

    }

    updateQueuesList()
</script>
{% endblock %}
