<!DOCTYPE html>
<html>
<head>
    <title>Test site</title>
</head>
<body>
    {% if data.message %}
    <h1>Message: {{data.message}}</h1>
    {% else %}
    <h1>Hello world!</h1>
    {% endif %}
</body>
</html>