<!DOCTYPE html>
<html>
<head>
    <title>Test site</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    {% if data.message %}
    <h1>Message: {{data.message}}</h1>
    {% else %}
    <h1>Hello world!</h1>
    {% endif %}

    {% if data.user_status == 'temporary_user' or data.user_status == 'permanent_user' %}
    <a href="/?user_id={{data.user_data.id}}&user_status={{data.user_status}}">Go to Other Page</a>
    {% else %}
    <a href="/?user_id={{data.user_data.id}}&user_status=None">Go to Other Page</a>
    {% endif %}
</body>
</html>
