<!DOCTYPE html>
<html>
<head>
    <title>Test site</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    {% if data.user_name is none %}
    <h2>Hello noname user!</h2>
    {% else %}
    <h2>Hello {{data.user_name}}!</h2>
    {% endif %}

    {% if data.user_status is none %}
    <h3>Oh... You have unknow status...</h3>
    <h4>Maybe something go wrong?</h4>
    {% else %}
        {% if data.user_status == 'temporary' %}
    <h3>You have temporary status.</h3>
    <h4>If you will be no activ, your session will be closed.</h4>
        {% else %}
            {% if data.user_status == 'temporary' %}
    <h3>You have permanent status.</h3>
    <h4>We welcome you.</h4>
            {% endif %}
        {% endif %}
    {% endif %}

</body>
</html>
